#image_viewer {
  margin-left: 300px;
  max-height: 100%;
  align-content: center;
}
#display_image {
  height: 90%;
  width: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  border-radius: 5px;
}
#image_title {
  width: 100%;
}
#display_title {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  outline: none;
  text-align: center;
  border: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-sizing: border-box;
}

#display_title:focus {
  border: 1px solid #555;
  border-radius: 2px;
}
