#image-list {
  width: 300px;
  overflow-y: scroll;
  max-height: 100%;
  float: left;
  padding: 0px 10px;
  box-sizing: border-box;
}

#image-list > * + * {
  margin-top: 20px;
}

.image-holder {
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  padding: 1px 5px;
  box-sizing: border-box;
  height: 40px;
}

.image-holder[active] {
  background-color: red;
}
